/* styles.css */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.carousel-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.9s ease-in-out;
  height: 100%; /* Make the carousel take up the full height of the container */
}

.carousel-item {
  flex: 0 0 100%;
  height: 100%; /* Make each item take up the full height of the carousel */
  overflow: hidden; /* Hide overflowing content */
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}
